<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>
</head>
<body>

<h2>Library Management System</h2>

<a href="/dashboard">Dashboard</a> |
<a href="/inventory">Inventory</a> |
<a href="/authors">Author Details</a> |
<a href="/logout">Logout</a>

<hr>

<h3>Book Inventory</h3>

<a href="/add_book">Add Book</a>

<br><br>

<table border="1" cellpadding="10">

<tr>
    <th>Author Name</th>
    <th>Book Name</th>
    <th>HSN Code</th>
    <th>Book ID</th>
    <th>Genre</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>

{% for book in books %}

<tr>

<td>{{ book["author"] }}</td>
<td>{{ book["book_name"] }}</td>
<td>{{ book["hsn_code"] }}</td>
<td>{{ book["book_id"] }}</td>
<td>{{ book["genre"] }}</td>
<td>{{ book["status"] }}</td>

<td>
<a href="/edit_book/{{ book['id'] }}">Edit</a>
</td>

<td>
<a href="/delete/{{ book['id'] }}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

</body>
</html>